body {
  background-color: rgb(182, 181, 176);
  padding: 0 20px;
}

h1, h3, p, form {
  text-align: center;
}

input, button {
  margin: 4px 0;
}

#story {
  max-width: 800px;
  position: fixed;
  margin: auto;
  left: 0;
  right: 0;
}